$base_background: #FFFFFF;
$base_section_background: #FAFAFA;
$base_section_darker_background: #F2F2F2;
$base_text_color: #222222;
$base_white_color: #ffffff;
$base_link_color: #8E44BF;
$base_hover_color: #8E44BF;
$base_primary_color: #8E44BF;
$base_secondary_color: #666A4A;
$base_success_color: #AEBF45;
$base_alert_color: #db352d;
$base_cta_color: #45BFBF;
$base_font_size: 1rem;
$extra_font_size: 15px;
$base_font_family: 'Roboto';
$base_font2_family: 'Oswald';
$base_font3_family: 'Merienda';
$base_width: 1170px;
$base_form_placeholder: rgba(0, 0, 0, 0.5);